* {
    font-family: "JetBrains Mono Thin", fantasy;
}

h1 {
    text-align: center;
    color: red;
}

table {
    margin: auto;
    display: table;
    width: 50%;
    border-spacing: 20px;
    background-color: #dfdede;
    border: 2px #000000 solid;
}
th, tr{
    font-style: italic;
    text-align: center;
}