<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Llista de Franquicias</title>
  <link rel="stylesheet" href="ciudades.css">
</head>
<body>
<h1>Llista de Franquicias</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Ciudades</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="franquicia : ${franquicia}">
    <td th:text="${franquicia.id}"></td>
    <td th:text="${franquicia.nom}"></td>
    <td>
      <ul>
        <li th:each="ciudad : ${franquicia.ciudades}" th:text="${ciudad.nom}"></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
